[submodule "roles/mail"]
	path = roles/mail
	url = git@github.com:privacylabs/ansible-mailstack
[submodule "roles/common"]
	path = roles/common
	url = git@github.com:privacylabs/ansible-common
[submodule "roles/openldap"]
	path = roles/openldap
	url = git@github.com:privacylabs/ansible-openldap
[submodule "roles/letsencrypt"]
	path = roles/letsencrypt
	url = git@github.com:privacylabs/ansible-letsencrypt
[submodule "roles/tunnel"]
	path = roles/tunnel
	url = git@github.com:privacylabs/ansible-tunnel
[submodule "roles/calendarserver"]
	path = roles/calendarserver
	url = git@github.com:privacylabs/ansible-calendarserver
